<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @if (User.IsInRole("admin"))
                    {
                        <li>@Html.ActionLink("Вакансии", "Index", "Vacancy")</li>
                        <li>@Html.ActionLink("Кандидаты", "Index", "Candidate")</li>
                        <li>@Html.ActionLink("Пользователи", "Index", "User")</li>

                    }
                    @if (User.IsInRole("hr"))
                    {
                        <li>@Html.ActionLink("Кандидаты", "Index", "Candidate")</li>
                        <li>@Html.ActionLink("Вакансии", "Index", "Vacancy")</li>
                    }
                    @if (User.IsInRole("jobseeker"))
                    {
                        <li>@Html.ActionLink("Моё резюме", "Resume", "Candidate")</li>
                        <li>@Html.ActionLink("Вакансии", "Index", "Vacancy")</li>
                    }
                    @if (User.IsInRole("employee"))
                    {
                        <li>@Html.ActionLink("Моя компания", "Index", "Employee")</li>
                        <li>@Html.ActionLink("Мои вакансии", "Index", "Vacancy")</li>
                        <li>@Html.ActionLink("Кандидаты", "Index", "Candidate")</li>
                    }

                    <li>@Html.ActionLink("Выйти", "Logout", "Account")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
    @Scripts.Render("~/scripts/jquery.validate.min.js")
    @Scripts.Render("~/scripts/jquery.validate.unobtrusive.min.js")
    @Scripts.Render("~/Scripts/chosen.jquery.min.js")
    <script>
        var setActive = function (id, status) {
        $.ajax({
            url: '@Url.Action("SetActive", "Vacancy")',
            type: 'POST',
            cache: false,
            async: false,
            data: { 'id': id, 'status': status  },
            success: function () {

            }
        });
        }

        var SearchCandidates = function () {
        $.ajax({
            url: '@Url.Action("SetActive", "Vacancy")',
            type: 'POST',
            cache: false,
            async: false,
            data: { 'id': id, 'status': status  },
            success: function () {

            }
        });
        }

        var SearchVacancies = function (id, status) {
        $.ajax({
            url: '@Url.Action("SetActive", "Vacancy")',
            type: 'POST',
            cache: false,
            async: false,
            data: { 'id': id, 'status': status  },
            success: function () {

            }
        });
        }

        block = function (id, invoker) {
    $.ajax({
        url: '@Url.Action("Block", "User")',
        dataType: "json",
        method: "POST",
        data: { "id": id },
        success: function () {
            invoker.closest('tr').remove();
        }
    });
}
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
